@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

div.separator {
  height: 2px;
  background: linear-gradient(270deg, rgb(108, 7, 240), rgb(198, 129, 238));
}

div.separator2 {
  height: 2px;
  background: linear-gradient(270deg, rgb(108, 7, 240), rgb(198, 129, 238));
}

body {
  background: #151313;
  color: #fcfcfc;
}

nav {
  padding: 1rem;
  background: rgb(233, 217, 187);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  overflow: hidden;
  align-items: center;
}
.blog-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #151313;
  float: left;
}

.blog-title:hover {
  color: #76aa15;
  transition: 0.5s ease-in-out;
}

.blog-title:hover > .blog-title-color {
  color: #151313;
  transition: 0.5s ease-in-out;
}

.blog-title-color {
  color: #76aa15;
}

.blog-title-color:hover {
  color: #151313;
  transition: 0.5s ease-in-out;
}
nav ul {
  width: 100%;
  list-style: none;
}

nav ul li {
  margin-right: 1rem;
}

nav a {
  color: #2f4538;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  float: right;
  margin-right: 2rem;
}

nav a:hover {
  color: #689b7d;
  text-decoration: underline;
  transition: 0.5s ease-in-out;
}

section {
  padding: 3rem;
}
#sobreMim,
#meuVideo {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  align-items: center;
  margin-top: 5rem;
}

.SobreConteudo {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.texto {
  width: 45vw;
  text-align: justify;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.texto-musica {
  width: 31vw;
  text-align: justify;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.music {
  width: 90vh;
  height: 50vh;
}
.title {
  font-weight: 600;
}
.perfil {
  width: 30%;
  height: 30%;
  border: 3px solid #c2f7f7;
  border-radius: 50%;
}

/* Contato */

#contato {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-top: 5rem;
  width: 40%;
}
div.input-align {
  margin-top: 1.5rem;
}
div.input-positioning {
  width: 100%;
  margin-left: 3rem;
  margin-top: 3rem;
}

div.input-positioning input {
  border-radius: 0.5rem;
  height: 2vw;
  width: 27vw;
}

h1.title-contato {
  margin-left: 7rem;
}

div.text-area textarea {
  margin-top: 2rem;
  border: 1px solid #c2f7f7;
  border-radius: 0.5rem;
  margin-left: 6rem;
}

div button.button {
  background-color: #4caf50;
  color: rgb(243, 237, 237);
  padding: 16px 32px;
  border: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin-left: 3rem;
  margin-top: 1rem;
  width: 65vh;
  transition-duration: 0.6s;
  border-radius: 1rem;
}

div button.button:hover {
  background-color: rgb(243, 237, 237);
  color: rgb(14, 13, 13);
  border: 2px solid #4caf50;
}

#endereco {
  display: flex;
  margin-top: -33rem;
  justify-content: end;
}

.map {
  width: 100vh;
  height: 60vh;
}

/* footer */

footer {
  text-align: center;
  background: rgb(233, 217, 187);
  padding: 2rem;
  color: rgb(14, 13, 13);
}

footer p a.footer-title {
  font-weight: 600;
  text-decoration: none;
  color: rgb(14, 13, 13);
}
footer p a.footer-title:hover {
  text-decoration: underline;
  color: rgb(230, 26, 26);
  transition: 0.3s ease-in-out;
}

/* @media (max-width: 768px) {
  .SobreConteudo {
    flex-direction: column-reverse;
    width: 48vw;
  }

  .perfil {
    width: 30%;
    height: 30%;
    border: 3px solid #c2f7f7;
    border-radius: 0%;
  }
} */
